/**
* --------------------------------
* Tab CSS
* --------------------------------
*/

.tab-list {
	display: flex;
	gap: 16px;
	box-sizing: border-box;
	padding: 16px;
}

.tab-link {
	font-size: 16px;
	font-weight: 700;
	color: var(--color-inactive);

	&.active {
		position: relative;
		color: var(--color-txt-primary);

		&::after {
			content: '';

			position: absolute;
			right: 0;
			bottom: -5px;
			left: 0;

			width: 30px;
			height: 3px;
			margin: 0 auto;

			background: var(--color-active);
		}
	}
}
