/**
* --------------------------------
* Tarailer Content CSS
* --------------------------------
*/

.tarailer .page-contents .trailer-fig {width: 100vw;height: 210px;}
.tarailer .page-contents .trailer-tit {height: 50px;padding: 8px 16px;box-sizing: border-box;}