/**
* --------------------------------
* Tarailer Content CSS
* --------------------------------
*/

.tarailer .page-contents .trailer-fig {width: 100vw;height: 210px;}
.tarailer .page-contents .trailer-info {padding: 8px 16px;}
.tarailer .page-contents .trailer-name {min-height: 18px;max-height: 50px;}
.tarailer .page-contents .trailer-tit {min-height: 16px;max-height: 50px;font-size: 12px;color: #aaa;margin-top: 6px;}
.tarailer .page-contents .trailer-date {max-width: 120px;min-height: 16px;font-size: 12px;color: #aaa;margin-top: 6px;}