/**
* --------------------------------
* Detail CSS
* --------------------------------
*/

.detail {
	overflow: hidden auto;
	overscroll-behavior: none;
	height: 100%;
	background-color: var(--color-bg-primary);

	.page-header {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;

		box-sizing: border-box;
		width: 100%;
		padding: 8px;

		.btn-back {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 45px;
			height: 45px;
			border-radius: 50%;

			background-color: var(--color-black-30);
			backdrop-filter: blur(6px);

			.icon-arrow {
				width: 18px;
				height: 16px;
			}
		}
	}

	.page-contents {
		padding-bottom: 24px;
	}
}
