/**
* --------------------------------
* Home CSS
* --------------------------------
*/


.block {padding: 16px 16px;overflow: hidden;overflow-x: auto;}
.block-tit {position: sticky;left: 0;font-size: 12px;margin-bottom: 16px;}

.tabs {transition: transform .3s ease-in-out;transform: translateY(-100%);position: sticky;z-index: 10;top: 0;background-color: rgba(36, 36, 36, .8);backdrop-filter: blur(6px);-webkit-backdrop-filter: blur(6px);}
.tabs .tab-list {padding-top: calc(var(--safe-top) + 16px);}
.tabs.sticky {transform: translateY(0);}
@keyframes tab-sticky {
  0% {transform: translateY(0);}
  100% {transform: translateY(-100%);}
}

.feed {position: relative;padding: 0;padding-bottom: 24px;}

.hero {position: relative;padding: 0;}
.hero-fig {position: relative;width: 100vw;height: 210px;background-color: var(--color-black);overflow: hidden;}
.hero-fig:after {content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 100px;background-image: linear-gradient(rgba(36, 36, 36, 0), rgba(36, 36, 36, .9));}
.hero-img {width: 100%;height: 100%;object-fit: cover;object-position: center;}
.hero-tit {position: absolute;z-index: 1;bottom: 42px;left: 16px;max-width: calc(100vw - 32px);font-weight: 700;}
.hero-date {position: absolute;z-index: 1;bottom: 24px;left: 16px;}
.hero .swiper-pagination-bullets {display: flex;justify-content: center;}
.hero .swiper-pagination-bullet {
  background-color: #b80303;
  opacity: .3;

  &[class*='active'] {opacity: 1;}
}
.media-list,
.person-list {display: flex;flex-wrap: nowrap;gap: 16px;}

