/**
* --------------------------------
* Trailer CSS
* --------------------------------
*/

.page-overlay:has(.tarailer) {
	display: flex;
	align-items: center;
}

.tarailer {
	overscroll-behavior: none;

	.page-header {
		display: flex;
		justify-content: end;

		.btn-close {
			width: 40px;
			height: 40px;

			.icon-close {
				width: 16px;
				height: 16px;
			}
		}
	}
}
