/**
* --------------------------------
* Init CSS
* --------------------------------
*/

:root {
	--safe-top: env(safe-area-inset-top);
	--safe-bottom: env(safe-area-inset-bottom);
	--color-white: #fff;
	--color-black: #000;
	--color-black-30: rgb(0 0 0 / 30%);
	--color-black-60: rgb(0 0 0 / 60%);
	--color-inactive: #4c4c4c;
	--color-active: #b80303;
	--color-primary: #b80303;
	--color-txt-primary: #fff;
	--color-txt-secondary: #aaa;
	--color-bg-primary: #242424;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-txt-primary);
	text-rendering: optimizelegibility;
	overflow-wrap: break-word;

	color-scheme: light dark;
	background-color: var(--color-bg-primary);

	font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

th {
	padding: 0;
}

td {
	padding: 0;
}

dl,
dd {
	margin: 0;
}

figure {
	margin: 0;
}

img {
	vertical-align: top;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

textarea {
	resize: none;
}

p {
	margin: 0;
}

a {
	cursor: pointer;
	color: var(--color-txt-primary);
	text-decoration: none;

	-webkit-tap-highlight-color: transparent;
}

hr {
	display: none;
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	background: none;
}

.hidden {
	position: absolute;

	overflow: hidden;

	width: 1px;
	height: 1px;
	margin: -1px;

	white-space: nowrap;

	clip-path: polygon(0 0, 0 0, 0 0);
}

figure:has(.img-error) {
	position: relative;
}

.img-error {
	position: absolute;
	inset: 0;

	width: 25%;
	height: 25%;
	margin: auto;
}

.skip {
	position: absolute;
	z-index: 100;
	top: -40px;
	right: 0;
	left: 0;

	width: 80vw;
	margin: auto;
	padding: 8px;

	color: var(--color-txt-primary);
	text-align: center;
	text-decoration: none;

	background: rgb(0 0 0 / 75%);

	&:focus {
		top: 30px;
	}
}

[class*='ellipsis'] {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	&[class*='-line1'] {
		-webkit-line-clamp: 1;
		line-clamp: 1;
	}

	&[class*='-line2'] {
		-webkit-line-clamp: 2;
		line-clamp: 2;
	}
}

@media (width >= 1280px) {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background-color: #000;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: #555;
	}

	::-webkit-scrollbar-button {
		display: none;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #444;
	}
}
