/**
* --------------------------------
* BottomNav CSS
* --------------------------------
*/

#bottomnav {
	position: sticky;
	z-index: 100;
	bottom: 0;

	overflow: hidden;

	width: 100vw;
	padding-bottom: var(--safe-bottom);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	background-color: #000;
	box-shadow: 0 -2px 3px rgb(0 0 0 / 50%);

	.nav-list {
		display: flex;
		height: 68px;
	}

	.nav-item {
		flex: 1;
	}

	.nav-link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		[class*='icon-'] {
			width: 24px;
			height: 24px;
		}

		[class*='icon-']::before {
			background-color: var(--color-inactive);
		}

		&.active [class*='icon-']::before {
			background-color: var(--color-active);
		}
	}
}
