/**
* --------------------------------
* Layout CSS
* --------------------------------
*/

#main {min-height: calc(100dvh - 68px);}
.page {position: relative;}
.page-tit {position: absolute;width: 1px;height: 1px;white-space: nowrap;margin: -1px;overflow: hidden;clip-path: polygon(0 0, 0 0, 0 0);}
.page-overlay {position: fixed;z-index: 10;top: 0;left: 0;width: 100vw;height: 100dvh;background-color: var(--color-background);overflow: hidden auto;overscroll-behavior: none;}