/**
* --------------------------------
* Detail Content CSS
* --------------------------------
*/

.cover-fig {
	position: relative;
	overflow: hidden;
	height: 210px;
	background-color: var(--color-black);

	&::before {
		content: '';

		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		width: 100vw;
		height: 50px;

		background-image: linear-gradient(rgb(36 36 36 / 100%), rgb(0 0 0 / 0%));
	}

	&::after {
		content: '';

		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 50px;

		background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(36 36 36 / 100%));
	}

	.cover-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.info {
	padding: 16px 16px 8px;

	.row {
		display: flex;
		gap: 8px;
		margin-top: 5px;

		> :nth-child(n + 2)::before {
			content: '/';
			margin-right: 8px;
		}
	}

	.tit {
		min-height: 18px;
		font-size: 18px;
		font-weight: 700;
	}

	.date {
		font-size: 12px;
		color: var(--color-txt-secondary);

		&:has(.skeleton) {
			flex: 1;
			max-width: 80px;
			height: 16px;
		}
	}

	.runtime {
		font-size: 12px;
		color: var(--color-txt-secondary);

		&:has(.skeleton) {
			flex: 1;
			max-width: 80px;
			height: 16px;
		}
	}

	.genres {
		display: flex;
		gap: 5px;
		margin-top: 5px;

		.genre {
			display: flex;
			gap: 5px;
			align-items: center;

			font-size: 12px;
			color: var(--color-txt-secondary);

			&:nth-child(n + 2)::before {
				content: '';

				display: block;

				width: 3px;
				height: 3px;
				border-radius: 50%;

				background-color: var(--color-txt-secondary);
			}

			&:has(.skeleton) {
				flex: 1;
				align-items: initial;
				min-height: 14px;

				&::before {
					display: none;
				}
			}
		}
	}
}

.info-content {
	margin-top: 32px;

	.tit {
		margin-bottom: 8px;
		font-size: 14px;

		&:has(.skeleton) {
			max-width: 80px;
		}
	}
}

.overview {
	line-height: 1.5;

	.overview-txt {
		min-height: 21px;
	}
}

.cast {
	.person-list {
		overflow: hidden;
		overflow-x: auto;
		display: flex;
		gap: 8px;

		margin: 0 -16px;
		padding-left: 16px;
	}
}
