/**
* --------------------------------
* Detail Content CSS
* --------------------------------
*/

.cover-fig {
	position: relative;
	overflow: hidden;
	height: 210px;
	background-color: var(--color-black);

	&::before {
		content: '';

		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		width: 100vw;
		height: 50px;

		background-image: linear-gradient(rgb(36 36 36 / 100%), rgb(0 0 0 / 0%));
	}

	&::after {
		content: '';

		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 50px;

		background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(36 36 36 / 100%));
	}

	.cover-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.detail-info {
	padding: 16px 16px 8px;

	.tit {
		min-height: 18px;
		font-size: 16px;
		font-weight: 700;
	}

	.overview {
		min-height: 100px;
		margin-top: 16px;
		line-height: 1.5;
	}
}
